<link rel="stylesheet" href="/css/employee-view.css" />
<div class="employee-view">
  <div class="container">
    <div class="tabs">
      <ul>
        <li id="write" class="active-tab">Assigned Feedbacks</li>
        <li id="view">Reviewed Feedbacks</li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="feedback-form">
        <% locals.allFeedbacks.map(feed => { %> <% if (feed.status ===
        'incomplete') { %>
        <div class="card">
          <div class="card-heading">
            <h1>
              Kindly review <span><%=feed.reviewee.user.firstname%></span>
            </h1>
            <p>
              Assigned by <%=feed.assignedBy.user.firstname%>
              <%=feed.assignedBy.user.lastname%>
            </p>
          </div>
          <div class="card-content">
            <div class="ratings">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <form action="/feedbacks/write-review" method="post">
              <input
                type="hidden"
                name="ratings"
                class="review-rating"
                value="0"
              />
              <textarea
                name="reviewText"
                class="review-text"
                rows="5"
                placeholder="Write your review..."
              ></textarea>
              <button type="submit">Submit</button>
            </form>
          </div>
        </div>
        <% } %> <% }) %>
      </div>
      <div class="previous-feedbacks-list">
        <% locals.allFeedbacks.map(feed => { %> <% if (feed.status ===
        'complete') { %>
        <div class="card">
          <div class="card-heading">
            <h1>Reviewed to <span>Saurav</span></h1>
            <div class="star-count">
              <i class="fa-solid fa-star"></i>
              <span>4</span>
            </div>
          </div>
          <p class="admin-info">Assigned by <span>Tridev Verma</span></p>
          <p class="review-msg">
            This is the message content of the review given by Tridev Verma.
          </p>
        </div>
        <% } %> <%})%>
      </div>
    </div>
  </div>
</div>

<script src="/scripts/toggleTabs.js"></script>
