<link rel="stylesheet" href="/css/navbar_styles.css" />
<nav>
  <a href="/" class="nav-brand">
    <img src="/images/rating.png" alt="logo" />
    <span>ER System</span>
  </a>

  <div class="nav-btns">
    <button id="theme-toggler">
      <img src="/images/moon.png" alt="" />
    </button>
    <button id="sidebar-toggler">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</nav>
