<link
  rel="stylesheet"
  href="<%=locals.assetPath('sidebar_styles.css', 'css')%>"
/>

<sidebar class="sidebar-container hide">
  <div class="sidebar">
    <button class="close-sidebar">
      <i class="fa-solid fa-xmark"></i>
    </button>

    <% if(!locals.user) { %>
    <ul>
      <li>
        <a href="/users/signin">Sign In</a>
      </li>
      <li>
        <a href="/users/signup">Sign Up</a>
      </li>
    </ul>
    <% } else if(locals.user.employee === null) { %>
    <ul>
      <li class="greet-user">
        <a href="/"> Welcome <%=locals.user.firstname%> </a>
      </li>
      <li>
        <a href="/users/logout">Logout</a>
      </li>
    </ul>
    <% } else if(locals.user.employee !== null && locals.user.employee.isAdmin
    === false) { %>
    <ul>
      <li class="greet-user">
        <a href="/"> Welcome <%=locals.user.firstname%> </a>
      </li>

      <li>
        <a href="/users/logout">Logout</a>
      </li>
    </ul>
    <% } else if(locals.user.employee !== null && locals.user.employee.isAdmin
    === true) { %>
    <ul>
      <li class="greet-user">
        <a href="/"> Welcome <%=locals.user.firstname%> </a>
      </li>
      <li>
        <a href="/employee/all-employees">Employees</a>
      </li>
      <li>
        <a href="/employee/add-employee"> Add Employee </a>
      </li>
      <li>
        <a href="/feedbacks/assign-task"> Assign-Task </a>
      </li>
      <li>
        <a href="/feedbacks">Feedbacks</a>
      </li>
      <li>
        <a href="/users/logout">Logout</a>
      </li>
    </ul>
    <% } %>
  </div>
</sidebar>
