<link rel="stylesheet" href="/css/sidebar_styles.css" />
<sidebar class="sidebar-container hide">
  <div class="sidebar">
    <button class="close-sidebar">
      <i class="fa-solid fa-xmark"></i>
    </button>

    <% if(locals.user) { %>
    <ul>
      <li class="greet-user">Welcome <%=locals.user.firstname%></li>
    </ul>
    <% } else { %>
    <ul>
      <li>
        <a href="/users/signup">
          <i class="fa-solid fa-user"></i>
          <span>Sign Up</span>
        </a>
      </li>
      <li>
        <a href="/users/signin">
          <i class="fa-solid fa-user-plus"></i>
          <span>Sign In</span>
        </a>
      </li>
      <li>
        <a href="/">
          <img src="/images/google.png" alt="google-icon" />
          <span
            >Sign In <span class="hide-on-small-screen">with Google</span></span
          >
        </a>
      </li>
    </ul>
    <% } %>
  </div>
</sidebar>
