// Media Queries
$xsmall: 0px;
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$xxlarge: 1400px;

// Font size
$xsmall-fs: 11px;
$small-fs: 13px;
$medium-fs: 15px;
$large-fs: 17px;
$xlarge-fs: 19px;
