@import "variables";

nav {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: var(--nav-bg);
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;

  > a {
    color: var(--nav-text);
    display: flex;
    align-items: center;
    > img {
      width: 50px;
    }
    > span {
      font-size: 1.5rem;
      margin-left: 1rem;
      font-weight: 500;
    }
  }

  > ul {
    display: none;
    @media screen and (min-width: $medium) {
      justify-self: end;
      display: flex;
      align-items: center;
    }
    > li {
      margin-right: 2rem;
      > a {
        color: var(--clr-light);
        font-size: 1.5rem;
      }
    }
  }

  .nav-btns {
    justify-self: end;
    display: flex;
    gap: 2rem;

    @media screen and (min-width: $large) {
      gap: 3rem;
    }
    > #sidebar-toggler {
      width: 2.5rem;
      aspect-ratio: 1 / 1;
      border-radius: 0.2rem;
      background-color: var(--nav-text);
      display: block;
      @media screen and (min-width: $medium) {
        display: none;
      }

      > i {
        font-size: 1.5rem;
        color: hsl(240, 30%, 20%);
      }
    }

    #theme-toggler {
      background-color: transparent;
      width: fit-content;
      display: flex;
      align-items: center;
      border: 2px solid var(--no-focus);
      padding: 0.4rem 0.8rem;
      border-radius: 2rem;
      > img {
        width: 25px;
        margin-right: 0;
        @media screen and (min-width: $small) {
          margin-right: 1.5rem;
        }
      }
      > span {
        display: none;
        @media screen and (min-width: $small) {
          display: inline-block;
          font-size: 1.3rem;
          color: var(--clr-light);
        }
      }
    }
  }
}
