@import "colors";

table {
  border: 1px solid var(--no-focus);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 90%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: var(--body-bg);
  border: 1px solid var(--no-focus);
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

table td a {
  padding: 0.6rem 1.5rem;
  background-color: var(--on-focus);
  color: var(--clr-light);
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3rem;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid var(--no-focus);
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid var(--no-focus);
    display: block;
    font-size: 1em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
