<link rel="stylesheet" href="/css/home_styles.css" />
<main>
  <% if(locals.user && locals.user.employee) { %> <%-
  include('partials/_employee-view') %> <% } else if (locals.user &&
  !locals.user.employee) { %>
  <h1>Please wait while admin adds you to employees group !!</h1>
  <% } else { %>
  <h1>Login to view content !!</h1>
  <a href="/users/signin">Login Now</a>
  <% } %>
</main>
