<link rel="stylesheet" href="/css/sign_styles.css" />
<main>
  <form action="/">
    <div class="heading">
      <img src="/images/rating.png" alt="logo" />
      <h1>Welcome Back</h1>
    </div>

    <div class="input-box">
      <input type="email" required />
      <span>Email</span>
    </div>
    <div class="input-box">
      <input type="password" required />
      <span>Password</span>
    </div>

    <button type="submit">Submit</button>
  </form>
</main>
