<link rel="stylesheet" href="<%=locals.assetPath('sign_styles.css', 'css')%>" />

<main>
  <form action="/users/signup" method="post">
    <div class="heading">
      <img src="<%=locals.assetPath('rating.png', 'images')%>" alt="logo" />
      <h1>Register Yourself</h1>
    </div>
    <div class="input-box">
      <input type="text" name="firstname" required />
      <span>First Name</span>
    </div>
    <div class="input-box">
      <input type="text" name="lastname" required />
      <span>Last Name</span>
    </div>
    <div class="input-box">
      <input type="email" name="email" required />
      <span>Email</span>
    </div>
    <div class="input-box">
      <input type="password" name="password" required />
      <span>Password</span>
    </div>
    <div class="input-box">
      <input type="password" name="confirmPassword" required />
      <span>Confirm Password</span>
    </div>
    <button type="submit">Submit</button>
  </form>
</main>
