:root {
  --clr-dark: hsl(0, 100%, 0%);
  --clr-light: hsl(0, 0%, 100%);
  --dark-bg-1: hsl(250, 30%, 20%);
  --dark-bg-2: hsl(250, 30%, 10%);
  --dark-bg-3: hsl(220, 30%, 20%);
  --dark-text: hsl(0, 0%, 95%);
  --light-bg-1: hsl(0, 0%, 95%);
  --light-bg-2: hsl(250, 10%, 90%);
  --light-bg-3: hsl(240, 5%, 90%);
  --light-text: hsl(250, 30%, 10%);
  --no-focus: hsl(252, 10%, 40%);
  --on-focus: hsl(205, 80%, 50%);
  --body-text: hsl(0, 0%, 95%);
  --body-bg: hsl(252, 30%, 10%);
  --primary: hsl(205, 80%, 50%);
  --card-bg: hsl(250, 30%, 20%);
  --danger: hsl(8, 80%, 50%); }

[data-theme="light"] {
  --nav-bg: var(--primary);
  --nav-text: var(--dark-text);
  --body-bg: var(--light-bg-2);
  --body-text: var(--light-text);
  --sidebar-bg: var(--light-bg-3);
  --no-focus: hsl(240, 20%, 85%);
  --on-focus: hsl(205, 80%, 50%);
  --body-text: hsl(0, 0%, 15%);
  --body-bg: hsl(220, 20%, 95%);
  --card-bg: hsl(0, 0%, 96%); }

[data-theme="dark"] {
  --nav-bg: var(--dark-bg-1);
  --nav-text: var(--dark-text);
  --body-bg: var(--dark-bg-2);
  --body-text: var(--dark-text);
  --sidebar-bg: var(--dark-bg-3);
  --no-focus: hsl(252, 10%, 40%);
  --on-focus: hsl(205, 80%, 50%);
  --body-text: hsl(0, 0%, 95%);
  --body-bg: hsl(252, 30%, 10%);
  --card-bg: hsl(250, 30%, 20%); }

main > h1 {
  width: 90%;
  text-align: center;
  font-size: 1.8rem; }
  @media screen and (min-width: 768px) {
    main > h1 {
      font-size: 2rem; } }
  @media screen and (min-width: 992px) {
    main > h1 {
      font-size: 2.5rem; } }

main > a {
  display: block;
  padding: 1rem 3.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--body-bg);
  background-color: var(--body-text);
  transition: 0.25s all; }
  main > a:hover {
    background-color: var(--primary);
    color: var(--clr-light); }
