@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --clr-dark: hsl(0, 100%, 0%);
  --clr-light: hsl(0, 0%, 100%);
  --dark-bg-1: hsl(250, 30%, 20%);
  --dark-bg-2: hsl(250, 30%, 10%);
  --dark-bg-3: hsl(220, 30%, 20%);
  --dark-text: hsl(0, 0%, 95%);
  --light-bg-1: hsl(0, 0%, 95%);
  --light-bg-2: hsl(250, 10%, 90%);
  --light-bg-3: hsl(240, 5%, 90%);
  --light-text: hsl(250, 30%, 10%);
  --no-focus: hsl(252, 10%, 40%);
  --on-focus: hsl(205, 80%, 50%);
  --body-text: hsl(0, 0%, 95%);
  --body-bg: hsl(252, 30%, 10%);
  --primary: hsl(205, 80%, 50%); }

[data-theme="light"] {
  --nav-bg: var(--primary);
  --nav-text: var(--dark-text);
  --body-bg: var(--light-bg-2);
  --body-text: var(--light-text);
  --sidebar-bg: var(--light-bg-3);
  --no-focus: hsl(240, 20%, 85%);
  --on-focus: hsl(205, 80%, 50%);
  --body-text: hsl(0, 0%, 15%);
  --body-bg: hsl(220, 20%, 95%); }

[data-theme="dark"] {
  --nav-bg: var(--dark-bg-1);
  --nav-text: var(--dark-text);
  --body-bg: var(--dark-bg-2);
  --body-text: var(--dark-text);
  --sidebar-bg: var(--dark-bg-3);
  --no-focus: hsl(252, 10%, 40%);
  --on-focus: hsl(205, 80%, 50%);
  --body-text: hsl(0, 0%, 95%);
  --body-bg: hsl(252, 30%, 10%); }

*,
* > ul {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none; }

html {
  font-size: 13px;
  scroll-behavior: smooth; }
  @media screen and (min-width: 768px) {
    html {
      font-size: 15px; } }

body {
  position: relative;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: var(--body-bg);
  display: flex;
  flex-direction: column; }

button:hover {
  cursor: pointer; }

input,
textarea,
select,
button {
  border: none;
  background-color: transparent; }

.overlay {
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 10;
  display: none; }

.hide-on-small-screen {
  display: none; }
  @media screen and (min-width: 992px) {
    .hide-on-small-screen {
      display: inline-block; } }
